html {
    font-size: 16px;
}

header {
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.container {
    position: relative;
    top: 64px;
}

/*Mobile version*/
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    /*HEADER*/
    header .mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;;
    }

    .mobile .nav-button {
        transition: all 0.2s ease-in-out;
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile .nav-button:hover {
        background-color: gray;
        border-radius: 5px;
    }
}

/*Destop version*/
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }

    /*HEADER*/
    header, .desktop, #logo {
        display: flex;
    }

    header {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    header .desktop {
        margin-right: 24px;
    }

    #logo {
        height: 32px;
        margin-left: 24px;
    }

    #logo p {
        font-size: 24px;
    }

    header .nav-button {
        text-decoration: none;
        color: black;
        align-items: center;
        height: fit-content;
        margin: auto 0;
        transition: all 0.2s ease-in;
    }

    header .nav-button:hover {
        background-color: lightgrey;
        border-radius: 5px;
    }

    header .desktop .space {
        background-color: lightblue;
        width: 16px;
        height: 64px;
    }
    
}