html {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.p-info {
    font-size: 1.2rem;
}

.read-more-button {
    color: blue;
    text-decoration: none;
}

header {
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.container {
    position: relative;
    top: 64px;
}

p {
    font-size: 1.5rem;
}

#author-info {
    font-size: 1rem;
}

.start, .learn {
    background-color: rgb(228, 228, 228);
}

.start .start-here a {
    display: flex;
    color: white;
    font-size: 2rem;
    background-color: grey;
    text-decoration: none;
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.2s ease-in;
}

.start .start-here a:hover {
    background-color: rgb(171, 171, 171);
}

/*Mobile version*/
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    /*HEADER*/
    header .mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;;
    }

    .mobile .nav-button {
        transition: all 0.2s ease-in-out;
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile .nav-button:hover {
        background-color: gray;
        border-radius: 5px;
    }

    /*START*/

    .start img {
        width: 100%;
    }

    .start .start-here {
        margin: 32px 16px;
    }

    .start .start-here p{
        margin: 32px 0 24px 0;
    }

    /*PRACTICE*/

    .practice aside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .practice aside .mobile {
        margin: 16px;
    }

    .practice aside .info {
        margin-left: 16px;
    }

    .practice aside .info .p-info {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /*LEARN*/
    .learn .box img {
        width: 100%;
    }

    .learn h1 {
        text-align: center;
    }

    /*EXHIBIT*/
    .exhibit h1 {
        margin-top: 32px;
        margin-bottom: 16px;
        text-align: center;
    }

    .exhibit .right {
        display: none;
    }

    .exhibit .left video {
        width: 100%;
        margin-bottom: 24px;;
    }

    .exhibit .left h2 {
        margin-bottom: 16px;
    }

    .exhibit .left p {
        margin-bottom: 32px;
    }
    
    /*FOOTER*/
    footer div {
        display: none;
    }

    footer p {
        margin: 16px;
    }
}

/*Destop version*/
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }

    /*HEADER*/
    header, .desktop, #logo {
        display: flex;
    }

    header {
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    header .desktop {
        margin-right: 24px;
    }

    #logo {
        height: 32px;
        margin-left: 24px;
    }

    #logo p {
        font-size: 24px;
    }

    header .nav-button {
        text-decoration: none;
        color: black;
        align-items: center;
        height: fit-content;
        margin: auto 0;
        transition: all 0.2s ease-in;
    }

    header .nav-button:hover {
        background-color: lightgrey;
        border-radius: 5px;
    }

    header .desktop .space {
        background-color: lightblue;
        width: 16px;
        height: 64px;
    }
    
    /*START*/
    .start {
        display: flex;

    }

    .start img {
        width: 60%;
        margin: 32px 24px;
    }

    .start .start-here {
        margin-top: 32px;
        width: 30%;
    }

    .start .start-here {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*PRACTICE*/
    .practice, .practice aside, .right aside .info {
        display: flex;
    }

    .left {
        margin: 32px 24px;
        flex-direction: column;
        width: 60%;
    }

    .left h1 {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    #author-info {
        margin-bottom: 32px;
    }

    .right {
        width: 40%;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .right aside img {
        height: auto;
        width: 35%;
        margin: 16px;
    }

    .right aside {
        transition: background-color 0.2s ease-in;
    }

    .right aside:hover {
        background-color: lightgray;
    }

    .right aside .info {
        flex-direction: column;
        justify-content: center;
    }

    .p-info {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /*LEARN*/
    .learn h1 {
        text-align: center;
        padding-top: 32px;
    }

    .learn .grid {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-gap: 32px;
        padding: 32px 72px;
    }

    .learn .box {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .learn .box img {
        height: auto;
        width: 100%;
    }
    .learn .info {
        margin-left: 16px;
        padding-bottom: 24px;
    }

    .learn .info h2 {
        margin-top: 16px;
    }

    /*EXHIBIT*/
    .exhibit h1 {
        margin: 32px;
        text-align: center;
    }

    .exhibit .box {
        display: flex;
    }

    .exhibit .left {
        width: 60%;
        margin: 0 24px 32px 24px;
    }

    .exhibit .left video {
        width: 100%;
    }

    .exhibit .left h2 {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .exhibit .left p {
        width: 80%;
    }

    .exhibit aside {
        display: flex;
    }
    
    .exhibit .right img {
        height: auto;
        width: 35%;
    }

    .exhibit .info {
        width: 65%;
    }

    .exhibit .info a {
        text-decoration: none;
        color: blue;
    }

    /*FOOTER*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 64px;
    }

    footer a {
        text-decoration: none;
        color: black;
    }

    footer a:hover {
        background-color: rgb(219, 219, 219);
        border-radius: 5px;
    }
}